In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from math import sqrt
from sklearn.metrics import mean_squared_error,r2_score

In [19]:
fileNameStr = './EdmontonRealEstateData.csv'
RawHouseData = pd.read_csv(fileNameStr,encoding = "ISO-8859-1")

E:\Anaconda3\envs\py37\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (5,10,22,31,33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
RawHouseData.shape

(71524, 36)

In [21]:
RawHouseData.info

<bound method DataFrame.info of        taxroll_number                    landuse_description  \
0            10195787       100% TELEPHONE/TELEGRAPH - OTHER
1            10195786            100% SINGLE FAMILY DWELLING
2            10195785            100% SINGLE FAMILY DWELLING
3            10195784            100% SINGLE FAMILY DWELLING
4            10195783            100% SINGLE FAMILY DWELLING
...               ...                                    ...
71519         1113729                 100% FRMLD SUBDIV UNIT
71520         1113752                   100% FARMLAND VACANT
71521         3811221  100% TELEPHONE EXCHANGE \u0026 OFFICE
71522         9997333                 100% FRMLD SUBDIV UNIT
71523         9951504                 100% FRMLD SUBDIV UNIT

            building_name   market_building_class property_type  \
0      TELUS COMM STATION         COMPUTER CENTER         URBAN
1                     NaN  2 STOREY WITH BASEMENT   RESIDENTIAL
2                     NaN  2 STOREY WITH BASEMENT   RESIDENTIAL
3                     NaN  2 STOREY WITH BASEMENT   RESIDENTIAL
4                     NaN  2 STOREY WITH BASEMENT   RESIDENTIAL
...                   ...                     ...           ...
71519                 NaN                     NaN   AGRICULTURE
71520                 NaN                     NaN   AGRICULTURE
71521               TELUS         COMPUTER CENTER         URBAN
71522                 NaN                     NaN   AGRICULTURE
71523                 NaN                     NaN   AGRICULTURE

      effective_build_year  net_area basement_finished has_garage  \
0                     2012   139.540                NO         NO
1                     2011   188.500               Yes        Yes
2                     2011   178.000                NO        Yes
3                     2011   178.300                NO        Yes
4                     2010   182.800                NO        Yes
...                    ...       ...               ...        ...
71519                  NaN     0.000                NO         NO
71520                  NaN     0.000                NO         NO
71521               1992.0   239.682                NO         NO
71522                  NaN     0.000                NO         NO
71523                  NaN     0.000                NO         NO

      has_fireplace  ...    valuation_group  display_type  site_coverage  \
0                NO  ...    SPECIAL PURPOSE        NONRES            17%
1               Yes  ...  RESIDENTIAL SOUTH           RES            25%
2               Yes  ...  RESIDENTIAL SOUTH           RES            29%
3               Yes  ...  RESIDENTIAL SOUTH           RES            31%
4               Yes  ...  RESIDENTIAL SOUTH           RES            33%
...             ...  ...                ...           ...            ...
71519            NO  ...               LAND           RES            NaN
71520            NO  ...               LAND        NONRES            NaN
71521            NO  ...    SPECIAL PURPOSE        NONRES            26%
71522            NO  ...               LAND           RES            NaN
71523            NO  ...               LAND           RES            NaN

      tot_gross_area_description  \
0           139.54 M2 / 1502 FT2
1          227.5 M2 / 2448.8 FT2
2          215.6 M2 / 2320.7 FT2
3          217.1 M2 / 2336.8 FT2
4            226 M2 / 2432.6 FT2
...                          ...
71519               0 M2 / 0 FT2
71520               0 M2 / 0 FT2
71521    239.682 M2 / 2579.9 FT2
71522               0 M2 / 0 FT2
71523               0 M2 / 0 FT2

                                                geometry result_code  \
0      {\type\": \"Polygon\",\"coordinates\":[[[37824...        1110
1      {\type\": \"Polygon\",\"coordinates\":[[[37833...        1110
2      {\type\": \"Polygon\",\"coordinates\":[[[37812...        1110
3      {\type\": \"Polygon\",\"coordinates\":[[[37799...        1110
4      {\type\": \"Polygon\",\"coordinates\":[[[37788...        1110
...                                                  ...         ...
71519  {\type\": \"Polygon\",\"coordinates\":[[[19368...        1110
71520  {\type\": \"Polygon\",\"coordinates\":[[[19799...        1110
71521  {\type\": \"Polygon\",\"coordinates\":[[[21441...        1110
71522  {\type\": \"Polygon\",\"coordinates\":[[[21738...        1110
71523  {\type\": \"Polygon\",\"coordinates\":[[[21424...        1110

         result_message result_description         lon        lat
0      Assessment found                NaN -113.430747  53.424591
1      Assessment found                NaN -113.430993  53.424599
2      Assessment found                NaN -113.431231  53.424560
3      Assessment found                NaN -113.431416  53.424549
4      Assessment found                NaN -113.431579  53.424548
...                 ...                ...         ...        ...
71519  Assessment found                NaN -113.705613  53.539112
71520  Assessment found                NaN -113.707350  53.545076
71521  Assessment found                NaN -113.676876  53.513268
71522  Assessment found                NaN -113.674157  53.574518
71523  Assessment found                NaN -113.680415  53.575059

[71524 rows x 36 columns]>

In [22]:
RawHouseData = RawHouseData.drop(['house_suit','house_suff','street_name','postal_code','city',\
'full_address','building_name','landuse_description','result_description','geometry',\
'valuation_group','neighbourhood','build_year_mbc','result_message','result_code',\
'result_description','display_type','lot_size','house_number','market_building_class'],axis=1)

In [23]:
RawHouseData = RawHouseData.loc[RawHouseData.loc[:,'net_area']>0,:]
RawHouseData = RawHouseData.loc[RawHouseData.loc[:,'effective_build_year'] != '',:]
RawHouseData = RawHouseData.loc[RawHouseData.loc[:,'assessed_value'] != '0',:]
RawHouseData.shape

(64019, 17)

In [24]:
RawHouseData.dtypes

taxroll_number                  int64
property_type                  object
effective_build_year           object
net_area                      float64
basement_finished              object
has_garage                     object
has_fireplace                  object
assessed_value                 object
fully_taxable                  object
fully_complete                 object
building_count                 object
walkout_basement               object
air_conditioning               object
site_coverage                  object
tot_gross_area_description     object
lon                           float64
lat                           float64
dtype: object

In [25]:
RawHouseData.isnull().sum().sort_values(ascending=False)

site_coverage                 1310
fully_complete                  28
effective_build_year             4
taxroll_number                   0
lon                              0
tot_gross_area_description       0
air_conditioning                 0
walkout_basement                 0
building_count                   0
fully_taxable                    0
property_type                    0
assessed_value                   0
has_fireplace                    0
has_garage                       0
basement_finished                0
net_area                         0
lat                              0
dtype: int64

In [26]:
RawHouseData=RawHouseData.dropna()
RawHouseData.shape

(62703, 17)

In [27]:
RawHouseData.isnull().sum().sort_values(ascending=False)

taxroll_number                0
fully_complete                0
lon                           0
tot_gross_area_description    0
site_coverage                 0
air_conditioning              0
walkout_basement              0
building_count                0
fully_taxable                 0
property_type                 0
assessed_value                0
has_fireplace                 0
has_garage                    0
basement_finished             0
net_area                      0
effective_build_year          0
lat                           0
dtype: int64

In [28]:
RawHouseData

,taxroll_number,property_type,effective_build_year,net_area,basement_finished,has_garage,has_fireplace,assessed_value,fully_taxable,fully_complete,building_count,walkout_basement,air_conditioning,site_coverage,tot_gross_area_description,lon,lat
0,10195787,URBAN,2012,139.540,NO,NO,NO,331000,Yes,Yes,1,NO,Yes,17%,139.54 M2 / 1502 FT2,-113.430747,53.424591
1,10195786,RESIDENTIAL,2011,188.500,Yes,Yes,Yes,470500,Yes,Yes,1,NO,NO,25%,227.5 M2 / 2448.8 FT2,-113.430993,53.424599
2,10195785,RESIDENTIAL,2011,178.000,NO,Yes,Yes,442500,Yes,Yes,1,NO,NO,29%,215.6 M2 / 2320.7 FT2,-113.431231,53.424560
3,10195784,RESIDENTIAL,2011,178.300,NO,Yes,Yes,448000,Yes,Yes,1,NO,NO,31%,217.1 M2 / 2336.8 FT2,-113.431416,53.424549
4,10195783,RESIDENTIAL,2010,182.800,NO,Yes,Yes,447500,Yes,Yes,1,NO,NO,33%,226 M2 / 2432.6 FT2,-113.431579,53.424548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71514,1116730,INDUSTRIAL,1973.0,36.880,NO,NO,NO,584500,Yes,Yes,3,NO,NO,9%,310.261 M2 / 3339.6 FT2,-113.694162,53.540649
71515,1116854,INDUSTRIAL,1956.0,189.400,NO,NO,NO,1693000,Yes,Yes,3,NO,NO,2%,329.16 M2 / 3543 FT2,-113.697128,53.543054
71517,1116938,INDUSTRIAL,2007.0,1551.340,NO,NO,NO,2629500,Yes,Yes,1,NO,NO,14%,1551.337 M2 / 16698.5 FT2,-113.698269,53.542356
71518,1116896,COMMERCIAL,1985.0,686.531,NO,NO,NO,3235500,NO,Yes,5,NO,Yes,15%,1738.871 M2 / 18717.1 FT2,-113.700711,53.542362
71521,3811221,URBAN,1992.0,239.682,NO,NO,NO,394500,Yes,Yes,1,NO,Yes,26%,239.682 M2 / 2579.9 FT2,-113.676876,53.513268

In [29]:
RawHouseData['property_type'].unique()

array(['URBAN', 'RESIDENTIAL', 'MULTI-RES', 'COMMERCIAL', 'INDUSTRIAL',
       'AGRICULTURE'], dtype=object)

In [30]:
RawHouseData.loc[RawHouseData['basement_finished']=='NO','basement_finished']=0
RawHouseData.loc[RawHouseData['basement_finished']=='Yes','basement_finished']=1
RawHouseData['basement_finished']=RawHouseData['basement_finished'].astype('int')

RawHouseData.loc[RawHouseData['has_garage']=='NO','has_garage']=0
RawHouseData.loc[RawHouseData['has_garage']=='Yes','has_garage']=1
RawHouseData['has_garage']=RawHouseData['has_garage'].astype('int')

RawHouseData.loc[RawHouseData['has_fireplace']=='NO','has_fireplace']=0
RawHouseData.loc[RawHouseData['has_fireplace']=='Yes','has_fireplace']=1
RawHouseData['has_fireplace']=RawHouseData['has_fireplace'].astype('int')

RawHouseData.loc[RawHouseData['fully_taxable']=='NO','fully_taxable']=0
RawHouseData.loc[RawHouseData['fully_taxable']=='Yes','fully_taxable']=1
RawHouseData['fully_taxable']=RawHouseData['fully_taxable'].astype('int')

RawHouseData.loc[RawHouseData['fully_complete']=='NO','fully_complete']=0
RawHouseData.loc[RawHouseData['fully_complete']=='Yes','fully_complete']=1
RawHouseData['fully_complete']=RawHouseData['fully_complete'].astype('int')

RawHouseData.loc[RawHouseData['walkout_basement']=='NO','walkout_basement']=0
RawHouseData.loc[RawHouseData['walkout_basement']=='Yes','walkout_basement']=1
RawHouseData['walkout_basement']=RawHouseData['walkout_basement'].astype('int')

RawHouseData.loc[RawHouseData['air_conditioning']=='NO','air_conditioning']=0
RawHouseData.loc[RawHouseData['air_conditioning']=='Yes','air_conditioning']=1
RawHouseData['air_conditioning']=RawHouseData['air_conditioning'].astype('int')

RawHouseData.loc[RawHouseData['property_type']=='URBAN','property_type']=1
RawHouseData.loc[RawHouseData['property_type']=='RESIDENTIAL','property_type']=2
RawHouseData.loc[RawHouseData['property_type']=='MULTI-RES','property_type']=3
RawHouseData.loc[RawHouseData['property_type']=='COMMERCIAL','property_type']=4
RawHouseData.loc[RawHouseData['property_type']=='INDUSTRIAL','property_type']=5
RawHouseData.loc[RawHouseData['property_type']=='AGRICULTURE','property_type']=6
RawHouseData['property_type']=RawHouseData['property_type'].astype('int')

m = RawHouseData['site_coverage'].str.contains('\d+%')
RawHouseData['site_coverage'] = \
    RawHouseData['site_coverage'].str.extract('(\d+)', expand=False).astype(float)
RawHouseData.loc[m, 'site_coverage'] *= 0.01

m = RawHouseData['tot_gross_area_description'].str.contains('\d+.')
RawHouseData['tot_gross_area_description'] = \
    RawHouseData['tot_gross_area_description'].str.extract('(\d+)', expand=False).astype(float)
RawHouseData.loc[m, 'tot_gross_area_description'] *= 1

RawHouseData['assessed_value'] = RawHouseData['assessed_value'].astype('float')
RawHouseData['effective_build_year'] = RawHouseData['effective_build_year'].astype('int')
RawHouseData['building_count'] = RawHouseData['building_count'].astype('int')

In [31]:
from sklearn.preprocessing import OneHotEncoder
from category_encoders import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [32]:
RawHouseData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62703 entries, 0 to 71521
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   taxroll_number              62703 non-null  int64
 1   property_type               62703 non-null  int32
 2   effective_build_year        62703 non-null  int32
 3   net_area                    62703 non-null  float64
 4   basement_finished           62703 non-null  int32
 5   has_garage                  62703 non-null  int32
 6   has_fireplace               62703 non-null  int32
 7   assessed_value              62703 non-null  float64
 8   fully_taxable               62703 non-null  int32
 9   fully_complete              62703 non-null  int32
 10  building_count              62703 non-null  int32
 11  walkout_basement            62703 non-null  int32
 12  air_conditioning            62703 non-null  int32
 13  site_coverage               62703 non-null  float64
 14  tot_gross_area_description  62703 non-null  float64
 15  lon                         62703 non-null  float64
 16  lat                         62703 non-null  float64
dtypes: float64(6), int32(10), int64(1)
memory usage: 6.2 MB

In [33]:
RawHouseData = RawHouseData.loc[RawHouseData.loc[:,'net_area'] > 1,:]
RawHouseData = RawHouseData.loc[RawHouseData.loc[:,'effective_build_year'] != 0,:]
RawHouseData = RawHouseData.loc[RawHouseData.loc[:,'assessed_value'] > 0,:]

In [34]:
RawHouseData.shape

(62603, 17)

In [35]:
HouseData = RawHouseData
HouseData.describe()

,taxroll_number,property_type,effective_build_year,net_area,basement_finished,has_garage,has_fireplace,assessed_value,fully_taxable,fully_complete,building_count,walkout_basement,air_conditioning,site_coverage,tot_gross_area_description,lon,lat
count,6.260300e+04,62603.000000,62603.000000,62603.000000,62603.000000,62603.000000,62603.000000,6.260300e+04,62603.000000,62603.000000,62603.000000,62603.000000,62603.000000,62603.000000,62603.000000,62603.000000,62603.000000
mean,7.021806e+06,2.345958,1986.854017,379.909745,0.445490,0.784547,0.611297,8.954259e+05,0.991454,0.983355,1.070013,0.041324,0.093158,0.268380,450.108621,-113.515785,53.516083
std,3.280046e+06,0.838908,18.418935,1883.852566,0.497024,0.411139,0.487460,7.591811e+06,0.092049,0.127937,0.776131,0.199040,0.290657,0.200333,2266.909334,0.086799,0.067424
min,1.001163e+06,1.000000,1904.000000,1.115000,0.000000,0.000000,0.000000,5.000000e+02,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,-113.712894,53.396061
25%,3.929040e+06,2.000000,1974.000000,109.000000,0.000000,1.000000,0.000000,3.425000e+05,1.000000,1.000000,1.000000,0.000000,0.000000,0.190000,147.000000,-113.581202,53.460670
50%,8.376329e+06,2.000000,1987.000000,142.600000,0.000000,1.000000,1.000000,4.255000e+05,1.000000,1.000000,1.000000,0.000000,0.000000,0.260000,184.000000,-113.517500,53.503051
75%,1.000662e+07,2.000000,2004.000000,203.128000,1.000000,1.000000,1.000000,5.665000e+05,1.000000,1.000000,1.000000,0.000000,0.000000,0.320000,249.000000,-113.439063,53.576356
max,1.069713e+07,6.000000,2014.000000,119965.000000,1.000000,1.000000,1.000000,1.527078e+09,1.000000,1.000000,84.000000,1.000000,1.000000,9.990000,201260.000000,-113.281236,53.715149

In [36]:
HouseData.info()
HouseData.to_csv('F:\ECE 625\project\ECE_625_project\HouseData.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62603 entries, 0 to 71521
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   taxroll_number              62603 non-null  int64
 1   property_type               62603 non-null  int32
 2   effective_build_year        62603 non-null  int32
 3   net_area                    62603 non-null  float64
 4   basement_finished           62603 non-null  int32
 5   has_garage                  62603 non-null  int32
 6   has_fireplace               62603 non-null  int32
 7   assessed_value              62603 non-null  float64
 8   fully_taxable               62603 non-null  int32
 9   fully_complete              62603 non-null  int32
 10  building_count              62603 non-null  int32
 11  walkout_basement            62603 non-null  int32
 12  air_conditioning            62603 non-null  int32
 13  site_coverage               62603 non-null  float64
 14  tot_gross_area_description  62603 non-null  float64
 15  lon                         62603 non-null  float64
 16  lat                         62603 non-null  float64
dtypes: float64(6), int32(10), int64(1)
memory usage: 6.2 MB

In [37]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import SelectFpr

In [38]:
X = HouseData.loc[:,['property_type','effective_build_year','net_area','basement_finished',\
                           'has_garage','has_fireplace','fully_taxable','fully_complete',\
                         'building_count','walkout_basement','air_conditioning','site_coverage',\
                         'tot_gross_area_description','lon','lat']]
Y = HouseData['assessed_value']

In [39]:
F_test,p_value=f_regression(X,Y)
pd.DataFrame({
              'F_test':F_test,'p_value':p_value})

          F_test        p_value
0    1007.943097  1.881679e-219
1      24.989307   5.780442e-07
2   15109.865869   0.000000e+00
3     128.652813   8.638257e-30
4     617.306149  1.313382e-135
5     226.653914   3.933307e-51
6     991.740243  5.509291e-216
7      22.571021   2.029647e-06
8    2250.803137   0.000000e+00
9       0.035067   8.514569e-01
10    826.904316  1.151118e-180
11     14.420983   1.463025e-04
12  24838.101270   0.000000e+00
13      1.955213   1.620312e-01
14      0.044847   8.322868e-01

In [74]:
result = pd.DataFrame(columns=('Linear Regression','Ridge Regression','LASSO','RFR','SVR'), \
                      index = ['RSEM', 'r2 score'])

### Linear Regression

In [75]:
from sklearn.linear_model import LinearRegression,SGDRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [76]:
X = HouseData.loc[:,['property_type','effective_build_year','net_area','basement_finished',\
'has_garage','has_fireplace','fully_taxable','fully_complete','building_count','walkout_basement'\
    ,'air_conditioning','site_coverage','tot_gross_area_description','lon','lat']]
Y = HouseData['assessed_value']
X_train, X_test, Y_train, Y_test = train_test_split( X , Y , test_size = 0.1, random_state = 5)

In [77]:
print(X_train.shape,Y_train.shape,X_test.shape,Y_test.shape)

(56342, 15) (56342,) (6261, 15) (6261,)

In [78]:
LinearReg = LinearRegression()
LinearReg.fit(X_train,Y_train)

print(LinearReg.coef_)

Linear_predict = LinearReg.predict(X_test)
Linear_error = mean_squared_error(Y_test,Linear_predict)
Linear_r2 = r2_score(Y_test,Linear_predict)
print('RSME for Linear regression is: ', sqrt(Linear_error))
print('r2 score for Linear regression is: ', Linear_r2)

result['Linear Regression'] = [sqrt(Linear_error),Linear_r2]

[  -28886.60362972     5089.79455503     -590.39347187    74029.50566588
  -164103.39076462   -12685.77613031 -3159521.36322162   200761.7758615
  -273565.89107402   159067.34005794   107303.44292595  -918360.64602039
     2172.7965914   -326137.99533506  -499042.14911746]
RSME for Linear regression is:  2118640.1133174067
r2 score for Linear regression is:  0.9182719581183119

## Ridge Regression

In [79]:
from sklearn import linear_model

In [80]:
RidgeReg = linear_model.Ridge(alpha = 1.0)
RidgeReg.fit(X_train,Y_train)
Ridge_predict = RidgeReg.predict(X_test)
Ridge_error = mean_squared_error(Y_test,Ridge_predict)
Ridge_r2 = r2_score(Y_test,Ridge_predict)
print('RSME for Ridge regression is: ', sqrt(Ridge_error))
print('r2 score for Ridge regression is: ', Ridge_r2)

RSME for Ridge regression is:  2118458.5911631007
r2 score for Ridge regression is:  0.9182859622095172

In [81]:
result['Ridge Regression'] = [sqrt(Ridge_error),Ridge_r2]

## LASSO

In [82]:
Lasso = linear_model.Lasso(alpha = 0.1)
Lasso.fit(X_train,Y_train)

Lasso_predict = Lasso.predict(X_test)
Lasso_error = mean_squared_error(Y_test,Lasso_predict)
Lasso_r2 = r2_score(Y_test,Lasso_predict)
print('RSME for Lasso is: ', sqrt(Lasso_error))
print('r2 score for Lasso is: ', Lasso_r2)

RSME for Lasso is:  2118639.9023448373
r2 score for Lasso is:  0.9182719743951433

In [83]:
result['LASSO'] = [sqrt(Lasso_error),Lasso_r2]

## RandomForestRegression

In [70]:
RFR = RandomForestRegressor(n_estimators=150)
RFR.fit(X_train,Y_train)

RFR_predict = RFR.predict(X_test)
RFR_error = mean_squared_error(Y_test,RFR_predict)
RFR_r2 = r2_score(Y_test,RFR_predict)
print('RSME for Random forest regression is: ', sqrt(RFR_error))
print('r2 score for Random forest regression is: ', RFR_r2)

RSME for Random forest regression is:  3480136.5132616777
r2 score for Random forest regression is:  0.7794793456476571

In [84]:
result['RFR'] = [sqrt(RFR_error),RFR_r2]

## SVR

In [49]:
SVR_linear = SVR(kernel='linear')
SVR_linear.fit(X_train,Y_train)

SVR_predict = SVR_linear.predict(X_test)

SVR_predict

array([339130.84256631, 360321.63719386, 284607.79840005, ...,
       494699.00249808, 291466.06790967, 270952.12601439])

In [50]:
SVR_error = mean_squared_error(Y_test,SVR_predict)
SVR_r2 = r2_score(Y_test,SVR_predict)
print('RSME for SVR is: ', sqrt(SVR_error))
print('r2 score for SVR is: ', SVR_r2)

RSME for SVR is:  2711562.0371064646
r2 score for SVR is:  0.8661261348639834

In [85]:
result['SVR'] = [sqrt(SVR_error),SVR_r2]

## Result

In [86]:
result

          Linear Regression  Ridge Regression      LASSO        RFR        SVR
RSEM             2118640.11        2118458.59 2118639.90 3480136.51 2711562.04
r2 score               0.92              0.92       0.92       0.78       0.87